{% extends 'base.html.twig' %}
{% block title %}
    Modifiy your personal data!
{% endblock %}

{% block Titlebody %} Account's informations {% endblock %}

{% block body %}
    <div class="Contain50">
        <h3> Your personnal data </h3>
        <hr>

    {{ form_start(modifyForm) }}

    {{ form_row(modifyForm.email) }}
    {{ form_row(modifyForm.pseudo) }}
    {{ form_row(modifyForm.nom) }}
    {{ form_row(modifyForm.prenom,) }}
    {{ form_row(modifyForm.age) }}
    {{ form_row(modifyForm.ville) }}
    {{ form_row(modifyForm.telephone) }}


    <button type="submit" class="btn btn-primary">Save!</button>
    {{ form_end(modifyForm) }}
    </div>
{% endblock %}

{% block JSAfterBody %}
        $( function() {
            var availableTags = {{ MonTabDeVille|raw }}
            $( "#modify_form_form_ville" ).autocomplete({
                source: availableTags
            });
        } );
{% endblock %}



