<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} - PROJET FORUM - {% endblock %}</title>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> <!-- CSS Link -->
            <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> <!-- JS Link -->
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


    </head>
    <body>
    <nav class="sidebar close">

        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ asset('logo.png') }}" alt="logo">
                </span>
                <div class="text logo-text">
                    {% if app.user.email is defined %}
                    <span class="name">{{ app.user.pseudo }}</span>
                    {% else %}
                    <span class="name" style="font-size: 14px">You'r not connected!</span>
                    <span class="profession"><a href="{{ path('app_login') }}"> Login!</a></span>
                    {% endif %}
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <hr class="hrMenu">

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{ path('user_informations') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Your profile</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-list-ul icon' ></i>
                            <span class="text nav-text">A - Themes list</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ path('new_theme') }}">
                            <i class='bx bx-list-ul icon' ></i>
                            <span class="text nav-text">A - New theme</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-list-minus icon' ></i>
                            <span class="text nav-text">A - User list</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{{ path('app_logout') }}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>



            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text">
            <h1 class="PageTitle">{% block Titlebody %} {% endblock %}</h1>
            <div class="container">{% block body %}{% endblock %}</div>
        </div>

    </section>



    <script>

        {% block JSAfterBody %}

        {% endblock %}

        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        })

        searchBtn.addEventListener("click" , () =>{
            sidebar.classList.remove("close");
        })


    </script>
    </body>
</html>
