{% extends 'base.html.twig' %}

{% block title %} Theme : {{ theme }} {% endblock %}

{% block Titlebody %} Theme : {{ theme }} {% endblock %}

{% block body %}
    <div class="Contain100">
        <h3> Let's talk about  {{ theme }} ! </h3>
        <hr>
        <div id="Datatable">Loading...</div>

    </div>


    {% block data_tables %}
        {% if datatableDiscussions is defined %}
        <script>
            $(function() {
                $('#Datatable').initDataTables({{ datatable_settings(datatableDiscussions) }},
                    {
                        "pageLength": 10,
                        "lengthMenu": [10, 25, 50, 100],

                        columnDefs: [
                            {width: "64%", targets: 0},
                            {width: "12%", targets: 1},
                            {width: "12%", targets: 2},
                            {width: "6%", targets: 3},
                        ]
                    } );
            });

        </script>
        {% endif %}
    {% endblock %}

{% if app.user.roles is defined %}
    <div class="">
    <div id="open" class="open"> Let's add new comment ! </div>
{#    <div id="close"> <i class="fa-solid fa-xmark"></i> </div>#}
    {{ render(controller('App\\Controller\\ForumController::newDiscussions', {'theme': theme, 'request': app.request } )) }}
    </div>

{% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea maxlength="5000" style="width: 100%" name="modifyComment" id="modifyComment"> </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChange">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block JSAfterBody %}

    <script>
        /* --- Fonction pour faire apparaitre / disparaitre la section new comment --- */
        $('.Contain50').hide();

    $('#open').on('click',function(e){
        if ($('.Contain50').is(":visible"))   {
            $('.Contain50').hide('fast');
            $('#new_discussions_Contenu').val('');
            $('#open').html("Let's add new comment !");

        }else {
            $('.Contain50').show('fast');
            $('#open').html("<i class='fa-solid fa-chevron-up'></i>");
        }
    })




    </script>

{% endblock %}


